.navbar {
    margin-bottom: 20px;
}

.container {
    padding: 15px;
    background: #00000011;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.301);
    border-radius: 15px;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 150px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ced4da;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

ul li {
    background: #ffffff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.3s;
}

ul li:hover {
    transform: scale(1.02);
    background-color: #f1f1f1;
}

button:hover{
    transform: scale(1.04);
  
}